﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>No Images Template</title>
</head>
<body style="font-family: Trebuchet MS, sans-serif; line-height: 1.5; font-size: 14px;
    background: #36393D; margin: 0; padding: 0;">
    <div style="width: 940px; margin: 20px auto; background: #fff; padding: 20px;">
        <div style="background: #2C2D2F; height: 100px; line-height: 100px;">
            <h1 >
                <a style="color:#fff" href="#">{{head}}</a></h1>
        </div>
        
        <div style="float: right; width: 620px; background: #F9F7ED; margin-top: 20px;">
            <h2>
                Example Article #1 - This is H2 Heading</h2>
                {% for person in year %}
				  {% if loop.first %}<ol>{% endif %}
				  <li>{{ person }}</li>
				  {% if loop.last %}</ol>{% endif %}
				{% endfor %}
            <p>
                {{company}} is establised in year .
            </p>
            <ul>
                <li>Aliquam hendrerit elit in leo tempor eu molestie orci molestie. Morbi in dolor dolor</li>
                <li>Class aptent taciti sociosqu ad litora torquent per conubia nostra</li>
                <li>Integer sed condimentum orci. Aenean id quam a ipsum convallis tincidunt vitae quis</li>
            </ul>
        </div>
        <div style="float: left; margin-top: 20px; width: 300px; background: #eee; border-bottom: 5px solid #36393D;">
            <h3>
                Menu Navigation</h3>
            <ul>
                <li><a href="#">Proin at</a></li>
                <li><a href="#">Class aptent taciti</a></li>
                <li><a href="#">Morbi in dolor</a></li>
                <li><a href="#">Praesent ultricies</a></li>
                <li><a href="#">Aenean euismod</a></li>
                <li><a href="#">Donec sempe</a></li>
                <li><a href="#">Suspendisse potenti</a></li>
            </ul>
        </div>
        <div style="clear: both;">
        </div>
        <div id="columns">
            <div style="float: left; width: 300px; background: #FFFF88; margin-top: 20px;">
                <h3>
                    Latest Articles</h3>
                <ul>
                    <li><a href="#">Proin at</a></li>
                    <li><a href="#">Class aptent taciti</a></li>
                    <li><a href="#">Morbi in dolor</a></li>
                    <li><a href="#">Praesent ultricies</a></li>
                    <li><a href="#">Aenean euismod</a></li>
                    <li><a href="#">Donec sempe</a></li>
                </ul>
            </div>
            <div style="float: left; margin-left: 20px; width: 300px; background: #CDEB8B; margin-top: 20px;">
                <h3>
                    Subscribe</h3>
                <p>
                    Suspendisse potenti. Aliquam hendrerit elit in leo tempor eu molestie orci molestie.
                    Morbi in dolor dolor, eget aliquet turpis. Praesent ultricies velit ac ipsum tristique
                    blandit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </div>
            <div style="float: left; margin-left: 20px; width: 300px; background: #C3D9FF; margin-top: 20px;">
                <h3>
                    Friends</h3>
                <ul>
                    <li><a href="http://www.oldwisdom.info">Old Wisdom</a></li>
                    <li><a href="http://www.supplies4pets.info">Supplies for Pets</a></li>
                    <li><a href="http://www.viennasights.info">Vienna Sightseeing</a></li>
                    <li><a href="http://www.barcelonasightseeing.info">Barcelona, Spain</a></li>
                    <li><a href="http://www.amsterdamsightseeing.info">Amsterdam</a></li>
                    <li><a href="http://www.francesightseeing.info">French Cities</a></li>
                </ul>
            </div>
            <div style="clear: both;">
            </div>
        </div>
        <div style="background: #2C2D2F; padding: 10px 0; text-align: center; color: #fff;
            margin-top: 20px;">
            <p>
                © Copyright 2010 You
            </p>
        </div>
    </div>
</body>
</html>
