<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
</head>

<body id="login_page">
    <h1>{{pagetitle}}</h1>
    <div id="content">{{content}}</div>
</body>
</html>